%head
  %link{rel:'stylesheet',href:'styles.css'}
%body

  %h1 {{ page.title }}
  %ul
  - for name, link in page.links:
    %li
      %a{href:'{{ link }}'}
        {{ name }}

  %p

  - for i in range(1, 6):
    - if i == page.chapter:
        %b -> Chapter {{ page.chapter }}
    - else
        %b Chapter {{ i }}
    %br

  %p

  self url is "{{ page.url }}"

  %h2 site
  - for key in site:
    - if key != 'pages':
      {{ key }}: "{{ site[key] }}"
      %br

  %p
  {{ page.content }}