html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.touchscroll {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.page-filler {
  height: 100%;
}

.relative_position {
  position: relative;
}

.toc h1, .toc h2, .toc h3, .toc h4, .toc h5, .toc h6, .toc h7 {
  font-size: 12px;
  padding: 0;
  margin: 0;
  font-weight: 500;
  text-transform: none;
}
.toc h1 {
  text-transform: uppercase;
  padding-top: 0.5em;
}
.toc h2 {
  padding-top: 0.5em;
}
.toc h3 {
  padding-left: 0.5em;
  font-style: italic;
}
.toc a, .toc a:visited {
  display: block;
  padding: 3px 5px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  text-decoration: none;
  color: #333;
}
.toc a.active {
  border-left: 10px solid #669;
  background-color: #AAE;
}

a.figlink {
  text-decoration: none;
}

a.figlink.active {
  background-color: #DDF;
}

a.figlink.active:link, a.figlink.active:visited {
  color: #339;
}

.fig-in-text {
  display: none;
}

.fig-in-figlist {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.fig-in-figlist.active {
  background-color: #DDF;
  color: #339;
}

.fig-in-figlist a {
  text-decoration: none;
}
