!!! 5
%head
  %meta{name:"viewport", content:"initial-scale=1, maximum-scale=1"}
  %link{rel:'stylesheet', href:'supplescroll.css'}
  %link{rel:'stylesheet', href:'perspex.css'}
  - if page.title:
    %title {{ page.title }}
%body
  #table-of-contents.touchscroll
  #main-text.touchscroll
    .relative_position
      {{ page.content }}
      .timestamp
        <i><a href='http://github.com/boscoh/supplescroll'>supplescroll</a></i>:perspex theme
  #figure-list.touchscroll
%script{type:'text/javascript', src:'jquery-2.0.3.js'}
%script{type:'text/javascript', src:'jquery.scrollTo.js'}
%script{type:'text/javascript', src:'supplescroll.js'}
%script{type:'text/javascript', src:'page.js'}
