%head
  :css
    html { }
    body {
      background-color: white;
      width: 650px;
      margin: 0 auto;
      padding: 0px 70px 0px 70px;
      font-family: 'Helvetica Neue', sans-serif;
      font-size: 14px;
      color: #000;
      letter-spacing: 0.05em;
      line-height: 1.5em; }
    #papermark {
      background-color: #FFF;
      margin: -5px; 
      padding-top: 0px;
      padding-bottom: 0px;
      width: 14em;
      text-align: center;
      font-size: 10px;
      font-family: monospace; }
    #papermark, #papermark a:link, #papermark a:visited {
      color: #888; }
    #papermark a {
      text-decoration: underline; }
    h1 {
      font-size: 50px; }
    h1, h2, h3, h4 {
      font-family: Helvetica;
      letter-spacing: 0em;
      line-height: 1em; 
      margin-bottom: 0;
      margin-top: 2em }
    h2 {
      padding-bottom: 0.1em;
      border-bottom: 1px solid #CCC;
    }
    .timestamp {
      margin-top: 6em;
      text-align: right;
      border-top: 1px solid #CCC;
      font-size: 10px;
      font-family: monospace; }
    blockquote {
      color: #999;
      border-left: 3px solid #CCC;
      padding-left: 10px;
      margin-left: 10px;
    }
    code {
      padding: 0px 2px; }
    pre {
      margin: 0;
    }
    .codehilite {
      overflow: auto;
      padding: 7px 20px;
      }
    code, .codehilite {
      background-color: #EEE;
      border: 1px solid #DDD;
      color: #333;
      font-size: 12px; 
      line-height: 1.5em; }

    @media screen and (max-width: 790px) {
      body {
        width: auto;
        margin: 0; } }

    @media screen and (max-width: 550px) {
      body {
        padding-left: 20px;
        padding-right: 20px } }

  :javascript
    /* window.onload = function() {
      sse = new EventSource('/my_event_source');
      sse.onmessage = function(message) {
        console.log('A message has arrived!');
        window.location.reload();
      } */
    }
%body
  #papermark
    made by 
    %a{href:'https://github.com/boscoh/embellish'}
      embellish
  - if page.title:
    %h1 {{ page.title }}

  {{ page.content }}

  .timestamp
    - if 'category' in page and page.category:
      category: {{ page.category }},
    updated: {{ page.date.strftime("%d %b %Y") }}


  